body .data-info {
	text-align: center;
	margin-top: 20px;
	text-decoration: underline;
	display: block;
}
body form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	background: orange;
	width: 20%;
	margin: auto;
	padding: 50px;
	border-radius: 50%;
}
body form label {
	font-family: arial;
}
body form label input {
	margin-bottom: 10px;
	width: 100%;
	display: block;
	padding: 5px 10px;
}
body form label input::placeholder {
	font-size: 10px;
}
body form button {
	width: 100px;
	background: aqua;
	border-radius: 4px;
	-webkit-appearance: none;
	border: 1px solid #ccc;
	padding: 5px;
	font-weight: 600;
	cursor: pointer;
	margin: 20px auto 0;
}