body form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
body form label {margin-bottom: 10px;}
body form label #soma1 {}
body form #btn-soma {
	margin: 20px 0 20px;
	width: 200px;
	height: auto;
	cursor: pointer;
}
body form #resultado-soma {}