body button {
	outline: none;
	-webkit-appearance: none;
	border-radius: 50px;
	padding: 4px 15px;
	color: #fff;
	margin-right: 10px;
	cursor: pointer;
}
body #green {
	background: green;
	border: 3px solid #06a006;
}
body #red {
	background: red;
	border: 3px solid #a70000;
}